@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


.landingImg {
    padding: 60px 0 0 0;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.landingImg div {
    top: 100px;
    left: 460px;
    display: flex;
    align-content: center;
    position: absolute;
}

.landingImg h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 30px;
    color: white;
}

.landingImg h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
    color: white;
    margin-left: 10px;
}

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popularProject {
    width: 1000px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.popularProject h3 {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 12px;
}

.popularProject p {
    font-weight: 400;
    font-size: 16px;
}

article {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
}

.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 340px;
    width: 340px;
    background-color: black;
    border-radius: 20px;
    margin-right: 20px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 25%);
    transition: 0.4s;
}

.articleBox img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

.articleBox:hover {
    transform: scale(1.01);
}

.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.projectInfo h4 {
    font-weight: 600;
    font-size: 28px;
}

.projectInfo p {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}

.viewMore {
    font-weight: 300;
    font-size: 16px;
    border: none;
    background-color: black;
    color: #2997ff;
    cursor: pointer;
}

.topProject {
    width: 100%;
    display: flex;
    align-items: center;
}

.topProject p {
    font-weight: 200;
    font-size: 16px;
    margin-right: 10px;
}

footer {
    height: 220px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 100px;
    padding-top: 80px;
}

.footerGrid {
    height: 40px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerInfo {
    height: 40px;
    width: 174px;
    color: white;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.footerInfo div p {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    height: 40px;
}

.footerInfo p {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
}

.footerLink {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLink img {
    height: 24px;
    cursor: pointer;
}